<div class="buttondown-subscribe">
  <p>Subscribe to get new essays in your inbox.</p>
  <form
    action="https://buttondown.com/api/emails/embed-subscribe/brycesalmi"
    method="post"
    class="embeddable-buttondown-form"
  >
    <input type="email" name="email" id="bd-email" placeholder="your@email.com" />
    <input type="submit" value="Subscribe" />
    <p class="buttondown-powered">
      <a href="https://buttondown.com/refer/brycesalmi" target="_blank">Powered by Buttondown.</a>
    </p>
  </form>
</div>
